header{
    flex: 1;
    margin: 1rem;
    h1{
        font-size: 3rem;
        padding-left: 2rem;
        color: $color-third;
        font-family: "ubuntu";
        &::first-letter{
            color: #ff0000;
        }
    }
}