nav{
    flex: 1;
    margin: 1.5rem;
    ul{
        justify-content: right;
        display: flex;
        list-style-type: none;
        font-size: 1.8rem;
    }
    li{
        padding-left: 3rem;
        img{
            width: 3.2rem;
            max-width: 100%;
        }
        a{
            outline: none;
            color: $color-third;
            text-decoration: none;
            display: inline-block;
            transition: color 0.5s;
            &:hover{
                color: $color-primary;
            }
        }
    }
}