.input-form{
    max-width: 70rem;
    width: 50rem;
    padding: 1rem;
    margin: 3rem;
    border: 0px solid #00000077;
    border-radius: 1rem;
    font-weight: bold;
    box-shadow: 1px 1px 20px #00000077;
    background-image: url(../image/ic_search.png);
    background-size: 3.2rem 3.2rem;
    background-position: 100% 0;
    background-repeat: no-repeat;
}